PORT=3000
CORS_ORIGIN=*

Email_USER=your_email@example.com
Email_PASS=your_email_password

MONGODB_URI=mongodb+srv://admin:%40Harsh9934@cluster0.tkvzowv.mongodb.net/PortFolio?retryWrites=true&w=majority&appName=Cluster0